<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>历史</title>
    <style>
        table{
            width: 733px;
            height: 100%;
            margin: 0 auto;
            text-align: center;
            border: 1px solid #333333;
        }
        td img{
            width: 43px;
            height: 72px;
        }
        tr{
            border: 1px solid #333333;
        }
        .head{
            height: 80px;
            line-height: 80px;
            background: aquamarine;
        }
    </style>
</head>
<body>
<table border="1" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <td class="head" colspan="9">开奖记录</td>
    </tr>
    </thead>
    <tbody>
   {volist name='list' id='vo'}
    <tr>
        <td width="130" height="100">2020第{$vo.now}期</td>
        <td><img src="/static/home/ball/{$vo.one}.png" alt=""></td>
        <td><img src="/static/home/ball/{$vo.two}.png" alt=""></td>
        <td><img src="/static/home/ball/{$vo.three}.png" alt=""></td>
        <td><img src="/static/home/ball/{$vo.four}.png" alt=""></td>
        <td><img src="/static/home/ball/{$vo.five}.png" alt=""></td>
        <td><img src="/static/home/ball/{$vo.six}.png" alt=""></td>
        <td style="font-size: 30px">+</td>
        <td><img src="/static/home/ball/{$vo.seven}.png" alt=""></td>
    </tr>
    {/volist}
    </tbody>
</table>
</body>
</html>