{include file='public/header' /}
<div  style="padding-top: 20px;">
    <div class="layui-form-item">
        <label for="title" class="layui-form-label">
            <span class="x-red">*</span>开奖码
        </label>
        <div class="layui-input-block">
            <input type="text" id="title" value="" class="layui-input">
        </div>
    </div>

    <input type="hidden" id="mid" value="" />

    <div class="layui-form-item">
        <label for="repass" class="layui-form-label"></label>
        <button  class="layui-btn"  id="editnews" >
            提交
        </button>
    </div>
</div>

</body>

</html>