<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="http://i.gtimg.cn/vipstyle/frozenui/2.0.0/css/frozen.css">
    <script src="/static/home/js/jquery.min.js"></script>
    <script src="/static/admin/lib/layui/layui.all.js"></script>
    <title>认证</title>
    <style>
        .hidden{
            display: none;
        }
        .h{
            height: 300px;
        }
    </style>
</head>
<body>
<div class="ui-form ui-border-t">
    <section class="ui-panel ui-panel-center ui-border-tb">
        <h2 class="ui-arrowlink"><span>开奖后台验证</span></h2>
    </section>

        <div class="ui-form-item ui-border-b">
            <label>
                口令
            </label>
            <input id="loginkey" type="text" placeholder="登陆口令">
        </div>
        <div class="ui-btn-wrap">
            <input type="button" class="ui-btn-lg ui-btn-primary addkey" value="确定">
        </div>

</div>
<script>
    $(function(){
        $('.addkey').click(function(){
            var key = $.trim($('#loginkey').val());
            if(key =='' || key == undefined){
                layer.msg('请输入兑奖码',{icon:5});
                return false;
            }
            var urls = "{:url('kai/index/index')}";

            $.post(urls,{'key':key},function(ret){
                if(ret.code == 200){
                    layer.msg(ret.msg);
                    window.location.href ="{:url('kai/index/info')}";
                }

                if(ret.code == 400){
                    layer.msg(ret.msg,{icon:5});
                    window.location.reload();
                }

            });

        })
    })

</script>

</body>
</html>