<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="http://i.gtimg.cn/vipstyle/frozenui/2.0.0/css/frozen.css">
    <script src="/static/home/js/jquery.min.js"></script>
    <script src="/static/admin/lib/layui/layui.js"></script>
    <title>开奖后台</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            background: #ffffff;
        }
        .number input{
            width: 40px;
            border-bottom: 1px solid #333333;
            margin-right: 10px;
            padding-left: 0;
            text-align: center;
        }
        .number input:nth-child(2){
            margin-left: 24px;
        }
        .date input{
            width: 40px;
            border-bottom: 1px solid #333333;
            margin-right: 10px;
            padding-left: 0;
            text-align: center;
        }
        .date input:nth-child(2){
            width: 80px;
            margin-left: 24px;
        }
    </style>
</head>
<body>
<div class="container">
    <section class="ui-panel ui-panel-center ui-border-tb">
        <h2 class="ui-arrowlink"><span>福彩欢迎您</span></h2>
    </section>
    <!--<form action="http://49.233.172.182/kj/public/index.php/admin/add" method="post" onsubmit="return checkForm()" target="L">-->
        <div class="ui-form-item ui-border-b date">
            <label>下期时间</label>
            <input name="y" type="text" placeholder="" id="y" onchange="dateToWeek()">年
            <input name="m" type="text" placeholder="" id="m" onchange="dateToWeek()">月
            <input name="d" type="text" placeholder="" id="d" onchange="dateToWeek()">日&nbsp;
        </div>
        <div class="ui-form-item ui-border-b date">
            <label>下期时间</label>
            <input name="w" style="width: 80px" type="text" placeholder="" id="w" readonly>
        </div>
        <div class="ui-form-item ui-border-b">
            <label>
                下期期数
            </label>
            <input name="next_period" type="text" placeholder="下期期数" id="next-period">
            <a href="javascript:void(0)" class="ui-icon-close" onclick="reset(this)">
            </a>
        </div>
        <div class="ui-form-item ui-border-b">
            <label>
                本期期数
            </label>
            <input name="cur_period" type="text" placeholder="本期期数" id="cur-period">
            <a href="javascript:void(0)" class="ui-icon-close" onclick="reset(this)">
            </a>
        </div>
        <div class="ui-form-item ui-border-b number">
            <label>
                开奖号码
            </label>
        </div>
        <div class="ui-form-item ui-border-b number">
        <input name="number1" type="text" placeholder="" id="number1">
        <input name="number2" type="text" placeholder="" id="number2">
        <input name="number3" type="text" placeholder="" id="number3">
        <input name="number4" type="text" placeholder="" id="number4">
        <input name="number5" type="text" placeholder="" id="number5">
        <input name="number6" type="text" placeholder="" id="number6">
        +
        <input name="number7" type="text" placeholder="" id="number7">
        <a href="javascript:void(0)" class="ui-icon-close" onclick="reset(this)">
        </a>
        </div>

        <div class="ui-form-item ui-form-item-switch ui-border-b" style="padding-top: 30px;">
            <p>
                右滑右边选项把开奖结果添加到全年记录
            </p>
            <label class="ui-switch">
                <input name="allyear" type="checkbox" checked="" >
            </label>
        </div>
        <div class="ui-btn-wrap">
            <button type="button" class="ui-btn-lg ui-btn-primary" onclick="btn_jiang();">
                确定
            </button>
        </div>
    <!--</form>-->
    <iframe name="L" src="" frameborder="0" ></iframe>
</div>
</body>
</html>
<script>
    var y = document.getElementById("y");
    var m = document.getElementById("m");
    var d = document.getElementById("d");
    var w = document.getElementById("w");

    (function() {
        dateToWeek();
    })();


    function checkForm() {
        var nextPeriod = document.getElementById('next-period');
        var curPeriod = document.getElementById('cur-period');
        var number = document.getElementById('number');
        var type = document.getElementById('type');
        if (nextPeriod.value == "" || curPeriod.value == "" ||number.value == "" || type.value == ""){
            alert("不能为空");
            return false;
        }else {
            return true;
        }
    }

    function reset(x) {
        var input = x.parentNode.children;
        for (var i = 0;i < input.length;i++){
            input[i].value = "";
        }
    }

    function dateToWeek() {
        var mDate = y.value+"-"+m.value+"-"+d.value;
        var dateObj;
        mDate == "--" ? dateObj = new Date(): dateObj = new Date(mDate.replace(/-/g, "/"));
        if (dateObj == "Invalid Date"){
            dateObj = new Date();
            alert("时间格式不对");
        }
        var year = dateObj.getFullYear();
        var month = dateObj.getMonth()+1;
        var date = dateObj.getDate();
        var day = dateObj.getDay();
        var weeks = ["星期日","星期一","星期二","星期三","星期四","星期五","星期六"];
        var week = weeks[day];
        y.value = year;
        m.value = month;
        d.value = date;
        w.value = week;

    }

    function btn_jiang(){
          var now  = $.trim($('#cur-period').val());
          var next =$.trim($('#next-period').val());
          var one  =  $.trim($('#number1').val());
          var two  =  $.trim($('#number2').val());
          var three  =  $.trim($('#number3').val());
          var four  =  $.trim($('#number4').val());
          var five  =  $.trim($('#number5').val());
          var six  =  $.trim($('#number6').val());
          var seven  =  $.trim($('#number7').val());
          var next_time = $('#y').val()+'-'+ $('#m').val()+'-'+$('#d').val();
          var next_qi   =  $('#w').val();
        if(now == '' || now  == undefined){
            alert('请输入本期号');
            return false;
        }

        if(next == '' || next  == undefined){
            alert('请输入下期号');
            return false;
        }

        if(one == '' || one  == undefined){
            alert('开奖号码第一位不能为空');
            return false;
        }

        var urls = "{:url('index/jiang')}";

        $.post(urls,{'now':now,'next':next,'one':one,'two':two,'three':three,'four':four,'five':five,'six':six,'seven':seven,
            'next_time':next_time,'next_qi':next_qi
        },function(ret){
              if(ret.code == 200){
                  alert('操作成功');
                    parent.location.reload();
              }

            if(ret.code == 400){
                alert('操作错误');
                parent.location.reload();
            }
        },'json')

    }

</script>

