{include file='public/header' /}
<script type="text/javascript" charset="utf-8" src="/static/admin/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/admin/ueditor/ueditor.all.js"> </script>
<script type="text/javascript" charset="utf-8" src="/static/admin/ueditor/lang/zh-cn/zh-cn.js"></script>

<div  style="padding-top: 20px;">
    <div class="layui-form-item">
        <label for="now" class="layui-form-label">
            <span class="x-red">*</span>本期期数
        </label>
        <div class="layui-input-block">
            <input type="text" id="now" value="{$infos.now}" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label for="next" class="layui-form-label">
            <span class="x-red">*</span>下期期数
        </label>
        <div class="layui-input-block">
            <input type="text" id="next" value="{$infos.next}" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label for="numbers" class="layui-form-label">
            <span class="x-red">*</span>开奖号码数
        </label>
        <div class="layui-input-block">
            <span class="x-red">*</span>第1位数
            <input type="text" id="one" value="{$infos.one}" class="layui-input">
            <span class="x-red">*</span>第2位数
            <input type="text" id="two" value="{$infos.two}" class="layui-input">
            <span class="x-red">*</span>第3位数
            <input type="text" id="three" value="{$infos.three}" class="layui-input">
            <span class="x-red">*</span>第4位数
            <input type="text" id="four" value="{$infos.four}" class="layui-input">
            <span class="x-red">*</span>第5位数
            <input type="text" id="five" value="{$infos.five}" class="layui-input">
            <span class="x-red">*</span>第6位数
            <input type="text" id="six" value="{$infos.six}" class="layui-input">
            <span class="x-red">*</span>第7位数
            <input type="text" id="seven" value="{$infos.seven}" class="layui-input">
        </div>
    </div>

    <input type="hidden" id="mid" value="{$infos.id}" />

    <div class="layui-form-item">
        <label for="repass" class="layui-form-label"></label>
        <button  class="layui-btn"  id="edit_his" >
            提交
        </button>
    </div>
</div>
<script>


    $('#edit_his').click(function(){
        var mid   = $('#mid').val();
        var now   = $.trim($('#now').val());
        var next  = $.trim($('#next').val());
        var one   = $.trim($('#one').val());
        var two   = $.trim($('#two').val());
        var three = $.trim($('#three').val());
        var four  = $.trim($('#four').val());
        var five  = $.trim($('#five').val());
        var six   = $.trim($('#six').val());
        var seven = $.trim($('#seven').val());

        var urls = "{:url('his/add')}";
        $.post(urls,{'mid':mid,'now':now,'next':next,'one':one,'two':two,'three':three,'four':four,'five':five,'six':six,'seven':seven},function(ret){
            if(ret.code == 200){
                layer.msg(ret.msg,{icon:6});
                window.location.href= "{:url('his/index')}";
            }

            if(ret.code == 400){
                layer.msg(ret.msg,{icon:5});
                window.location.reload();
            }

        },'json');

    })

</script>
</body>

</html>