<html><head><meta http-equiv="Content-Type" content="text/html; charset=">

    <title></title>
    <style type="text/css">A:hover {BACKGROUND:#FFFF00;}</style>
    <style>
        *{margin:0; padding:0; outline:0; }
        body {
            font-size: 13px;
            font-family:Verdana, Arial, Helvetica, sans-serif;
        }
        a{color:#000000; text-decoration:none; font-weight:bold}
        a:hover{ color:#FF0000; border-top:1px solid #FF0000; text-decoration:underline}
        .num{display:block;width:16px; height:16px; margin-right:10px; background: #FF3300; color:#FFF; text-align:center; font-size:12px; line-height:16px;}
        .num2{display:block;width:16px; height:16px; margin-right:10px; background: #0066FF; color:#FFF; text-align:center; font-size:12px; line-height:16px;}
        .st{font-size: 13px;
            font-family:Verdana, Arial, Helvetica, sans-serif;}
        .st td{height:26px;}
        .title_283 {
            FONT-SIZE: 13px; COLOR: #ffffff; BACKGROUND-COLOR: #0460bb; TEXT-ALIGN: center
        }
        .main_760 {
            BORDER-RIGHT: #d2d3d9 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #d2d3d9 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 14px; PADDING-BOTTOM: 2px; BORDER-LEFT: #d2d3d9 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #d2d3d9 1px solid; TEXT-ALIGN: center
        }
        *{padding:0;margin:0}
        table        { font-size: 10pt; color: #000000 }
        td { font-size: 10pt; font-style: normal}
        .xxq_main{BORDER: #d9e2e6 1px solid;}
        #xxq_main{width:100%;margin:0 auto;overflow:hidden;}
        .ulli{ border:1px solid #e3e3e3}
        .ulli td A {
            BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 0px solid; PADDING:4px 0px 1px 8px;  COLOR: #0000FF; OVERFLOW: hidden; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 0px solid; text-decoration:none; font-weight:bold
        }
        *{padding:0;margin:0;}
        *{padding:0;margin:0}
    </style>
    <!--<base target="_self">--><base href="." target="_self">
</head>

<body>
<div align="center">
    <table border="0" width="100%" cellspacing="0" cellpadding="0" id="table10">
        <tbody>
        <tr>
            <td height="22" style="color: #000000; font-size: 12px; font-family: 宋体" bgcolor="#90CE82">
                <p align="center"><font color="#FFFFFF">
                    “彩券论坛”巨资邀请福惠界高手前来发表，做到100%让您满意是我们的宗旨，永远离不开您的大力支持！想中奖找“彩券论坛twfhc666”这里将是发财致富的起点。</font></p></td>
        </tr>
        <tr>
            <td style="color: #000000; font-size: 12px; font-family: 宋体">
                <table width="100%" border="0" class="st" id="table12" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                        <td width="68" align="center" rowspan="12">
                            <img border="0" src="./btn_tj2.png" width="87" height="248"></td>
                        <td width="25" align="right" style="height: 28px"><label class="num">01</label></td>
                        <td width="714" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=205">061期:【彩券论坛】授权提供 -<font color="#0000FF">【稳杀２尾.稳杀２尾.稳杀２尾.稳杀２尾.稳杀２尾】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" align="right" style="height: 28px"><label class="num">02</label></td>
                        <td width="714" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=206">061期:【彩券论坛】授权提供 -<font color="#0000FF">【单双中特.单双中特.单双中特.单双中特.单双中特】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" height="18" align="right" style="height: 28px"><label class="num">
                            03</label></td>
                        <td height="18" width="714" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=207">061期:【彩券论坛】授权提供 -<font color="#0000FF">【平特一肖.平特一肖.平特一肖.平特一肖.平特一肖】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" height="34" align="right" style="height: 28px"><label class="num">
                            04</label></td>
                        <td width="714" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=208">061期:【彩券论坛】授权提供 -<font color="#FF0000">【２尾中特.２尾中特.２尾中特.２尾中特.２尾中特】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" align="right" style="height: 28px"><label class="num">05</label></td>
                        <td width="714" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=209">061期:【彩券论坛】授权提供 -<font color="#0000FF">【必中二波.必中二波.必中二波.必中二波.必中二波】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" align="right" style="height: 28px"><label class="num">06</label></td>
                        <td width="714" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=210">061期:【彩券论坛】授权提供 -<font color="#0000FF">【一句解特.一句解特.一句解特.一句解特.一句解特】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" height="17" align="right" style="height: 28px"><label class="num">
                            07</label></td>
                        <td width="714" height="17" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=211">061期:【彩券论坛】授权提供 -<font color="#0000FF">【金牌５码.金牌５码.金牌５码.金牌５码.金牌５码】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" height="35" align="right" style="height: 28px"><label class="num">
                            08</label></td>
                        <td width="714" height="35" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=212">061期:【彩券论坛】授权提供 -<font color="#FF0000">【３头中特.３头中特.３头中特.３头中特.３头中特】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" align="right" style="height: 28px"><label class="num">09</label></td>
                        <td width="714" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=213">061期:【彩券论坛】授权提供 -<font color="#0000FF">【２肖２码.２肖２码.２肖２码.２肖２码.２肖２码】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" align="right" style="height: 28px"><label class="num">10</label></td>
                        <td width="714" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=214">061期:【彩券论坛】授权提供 -<font color="#0000FF">【５尾中特.５尾中特.５尾中特.５尾中特.５尾中特】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" align="right" style="height: 28px"><label class="num">11</label></td>
                        <td width="714" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=215">061期:【彩券论坛】授权提供 -<font color="#0000FF">【一码中特.一码中特.一码中特.一码中特.一码中特】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" align="right" style="height: 28px"><label class="num">12</label></td>
                        <td width="714" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=216">061期:【彩券论坛】授权提供 -<font color="#FF0000">【绝杀一肖.绝杀一肖.绝杀一肖.绝杀一肖.绝杀一肖】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
        <tr>
            <td style="color: #000000; font-size: 12px; font-family: 宋体">
                <table width="100%" border="0" class="st" id="table14" cellspacing="0" cellpadding="0">
                    <tbody><tr>
                        <td width="68" align="center" rowspan="12">
                            <img border="0" src="./btn_tj2.png" width="87" height="248"></td>
                        <td width="25" align="right" style="height: 30px"><label class="num">13</label></td>
                        <td width="713" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=217">061期:【彩券论坛】授权提供 -<font color="#0000FF">【三肖中特.三肖中特.三肖中特.三肖中特.三肖中特】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" align="right" style="height: 30px"><label class="num">14</label></td>
                        <td width="713" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=218">061期:【彩券论坛】授权提供 -<font color="#0000FF">【绝杀半波.绝杀半波.绝杀半波.绝杀半波.绝杀半波】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" align="right" style="height: 30px"><label class="num">15</label></td>
                        <td width="713" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=219">061期:【彩券论坛】授权提供 -<font color="#0000FF">【稳杀三肖.稳杀三肖.稳杀三肖.稳杀三肖.稳杀三肖】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" height="18" align="right" style="height: 30px"><label class="num">
                            16</label></td>
                        <td height="18" width="713" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=220">061期:【彩券论坛】授权提供 -<font color="#FF0000">【八码中特.八码中特.八码中特.八码中特.八码中特】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" height="34" align="right" style="height: 30px"><label class="num">
                            17</label></td>
                        <td width="713" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=221">061期:【彩券论坛】授权提供 -<font color="#0000FF">【彩券一码.彩券一码.彩券一码.彩券一码.彩券一码】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" align="right" style="height: 30px"><label class="num">18</label></td>
                        <td width="713" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=222">061期:【彩券论坛】授权提供 -<font color="#0000FF">【６码６码.６码６码.６码６码.６码６码.６码６码】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" align="right" style="height: 30px"><label class="num">19</label></td>
                        <td width="713" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=223">061期:【彩券论坛】授权提供 -<font color="#0000FF">【３尾３尾.３尾３尾.３尾３尾.３尾３尾.３尾３尾】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" height="17" align="right" style="height: 30px"><label class="num">
                            20</label></td>
                        <td width="713" height="17" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=224">061期:【彩券论坛】授权提供 -<font color="#FF0000">【二肖中特.二肖中特.二肖中特.二肖中特.二肖中特】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" height="35" align="right" style="height: 30px"><label class="num">
                            21</label></td>
                        <td width="713" height="35" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=225">061期:【彩券论坛】授权提供 -<font color="#0000FF">【大小中特.大小中特.大小中特.大小中特.大小中特】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" align="right" style="height: 30px"><label class="num">22</label></td>
                        <td width="713" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=226">061期:【彩券论坛】授权提供 -<font color="#0000FF">【三行中特.三行中特.三行中特.三行中特.三行中特】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" align="right" style="height: 30px"><label class="num">23</label></td>
                        <td width="713" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=227">061期:【彩券论坛】授权提供 -<font color="#0000FF">【家禽野兽.家禽野兽.家禽野兽.家禽野兽.家禽野兽】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    <tr>
                        <td width="25" align="right" style="height: 30px"><label class="num">24</label></td>
                        <td width="713" align="left" style="height: 30px">

                            <img src="/static/home/images/am(1).gif" border="0" width="5" height="6"><b><font face="宋体" size="2"><span style="font-weight: 400"><a target="_blank" style="text-decoration: none; font-weight:400" href="../dd.asp?id=228">061期:【彩券论坛】授权提供 -<font color="#FF0000">【绝杀一波.绝杀一波.绝杀一波.绝杀一波.绝杀一波】</font>→敢下赢家就是你!</a></span></font></b></td>
                        <td align="center" width="145" style="height: 30px">
                            <font face="新宋体" style="font-size: 9pt">
                                <font color="#999999">发表者:</font><font color="#ff0000">【彩券论坛】</font></font></td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
        <tr>
            <td height="22" style="color: #000000; font-size: 12px; font-family: 宋体" bgcolor="#90CE82">
                <p align="center"><font color="#FFFFFF">
                    “彩券论坛”福惠专家(www.twfhc666.com)网址大全长期收录：福惠彩券开奖结果|彩券资料|历史记录|图库|信誉网站|好料一切尽在彩券论坛|</font></p></td>
        </tr>
        </tbody></table>
</div>


</body></html>